*{margin: 0;padding: 0;}
body{
	/*background:url(../img/page-background.png) ;*/
	background-color: #101010;
}
#nav{
	
	font-family: "微软雅黑";
	color: #ffffff;
	border-left: 10px solid #d54ab6;
	position: absolute;
	top: 30px;
	left: 180px;
	background-color: #333333;
	height: 70px;
	width: 955px;
	
}
#nav ul{
	
	font-size: x-large;
	list-style: none;
	
}
#nav a{
	font-family: "微软雅黑";
	color: #ffffff;
	text-align: center;
	line-height: 70px;
	height: 70px;
	float: right;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	width: 150px;
}
#nav a:hover{
	color: orangered;
}
#nav a:visited{
	background-color: #808080;
}
#nav #round{
	margin: 18px 0 6px 30px;
	width: 30px;
	height: 30px;
	border-radius: 15px;
	background-color: #d54ab6;
	float: left;
}
#nav p{
	font-family: "微软雅黑";
	font-size: x-large;
	display: block;
	float: left;
	line-height: 70px;
	margin-left: 6px;
}
#data h2{
	padding-top: 150px;
	font-family: "微软雅黑";
	font-size: larger;
	font-weight: 700;
	color: #FFFFFF;
	text-align: center;
}

#data table{
	text-align: center;
	width: 800px;
	height: 300px;
	color: #FFFFFF;
	margin: 50px auto 0;
	font-family: "微软雅黑";
	font-size: large;
	border: 1px solid #FFFFFF;
	border-collapse: collapse;
}
#data table tr,td{
	border: 1px solid #FFFFFF;
}
#data table a{
	text-decoration: none;
	color: #FF4500;
}
#data table a:hover{
	color: #D54AB6;
}
.add,.del_all{
	line-height: 38px;
	text-align: center;
	text-decoration: none;
	color: #FFFFFF;
	font-family: "微软雅黑";
	font-size: normal;
	font-weight: 500;
	display: inline-block;
	border-radius: 2px;
	border: 1px solid #FFFFFF;
	background-color: #000000;
	width: 100px;
	height: 38px;
	cursor: pointer;
}
.add{
	margin: 16px 0 30px 515px;
}
.del_all{
   margin-left: 50px;
}
footer {
  color: gray;
  text-align: center;
  padding: 15px;
  margin:    20px 10px 0px 10px;
  font-size: 90%;
}